.task {
    color: var(--ion-color-mountain);
    font-size: xx-large;
    display: flex;
    align-items: center;    
}

ion-icon {
    margin-right: 0.5rem;
}

ion-card {
    height:175px;
    border-radius: 10px;
}

.container-sticker {
    min-width: 550px;
}

ion-card-header {
    padding-bottom: 0;
    padding-top: 0;
}

.picture {
    border: 3px solid var(--ion-color-gold);
    object-fit: cover;
    border-radius: 50%;
}

.date {
    color: white;
    font-size: xx-large;
    margin-bottom: 0px;
}

.plant-name {
    color: var(--ion-color-gold);
    font-size: x-large;
}

.contain-picture {
    width: 110px;
    padding: 10px;
    padding-top: 0px;
}

.zone {
    color: white;
    font-size: large;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container-text {
    padding-left: 0px;
}

.late {
    color: var(--ion-color-purple);
    padding-left: 10px;
    font-size: large;
}

.check-mark {
    font-size: 60px;
    position: fixed;
    right:50px;
}
