.App {
    text-align: center;
  }

 

.button-login {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }

.button-login:hover{
   background-color: #F7F7F7;
   color: black;
  }

  


