.font-style {
    font-size: 65px;
    margin-left: 7px;
    color: var(--ion-color-gunmetal);
    text-align: center;
    justify-content: center;
  }


  .button-size {
    width: 35px;
    height: 35px;
    translate: 0px -11px;
  }